@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--mainFont: 'Open Sans', sans-serif;
	--lightBG: #fdc96c;
	--darkBG: rgb(31, 44, 64);
	--darkBGToggleButton: rgb(53, 74, 107);
	--darkFontColor: white;
}

body {
	font-family: var(--mainFont);
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.light {
	background-color: var(--lightBG);
}

.dark {
	background-color: var(--darkBG);
	color: var(--darkFontColor);
}

.header {
	display: flex;
	height: 10vh;
	justify-content: flex-end;
	align-items: center;
}

.sun,
.moon {
	width: 30px;
	height: 30px;
	margin: 0 10px 0 10px;
}

.clock-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	height: 90vh;
	flex-wrap: wrap;
}

.clock-container span {
	font-size: 90px;
	color: black;
	background-color: white;
	padding: 0 20px 0 20px;
	margin: 5px;
	border-radius: 10px;
}

.clock-container h2 {
	margin-top: 10px;
}

.colon {
	display: flex;
	font-size: 80px;
	height: 90px;
	align-items: center;
}

.hoursContainer,
.minutesContainer,
.secondsContainer {
	display: flex;
	width: 220px;
	height: 150px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.col-head {
	flex: 1 0 100%;
	text-align: center;
	margin-bottom: 40px;
}

/* Toggle Button for the Light/Dark theme */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	-webkit-tap-highlight-color: transparent;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fadfae;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--darkBGToggleButton);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Media Queries */

@media (max-width: 480px) {
	.hoursContainer,
	.minutesContainer,
	.secondsContainer {
		width: 177px;
	}

	.clock-container span {
		font-size: 49px;
	}

	.colon {
		font-size: 40px;
	}

	.hidden {
		visibility: hidden;
	}

	.col-head {
		margin-bottom: 20px;
	}
}
