@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--mainFont: 'Open Sans', sans-serif;
}

body {
	font-family: var(--mainFont);
	background-color: #f45866;
}

.clock-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.clock-container span {
	font-size: 5vw;
	background-color: white;
	padding: 0 20px 0 20px;
	margin: 5px;
	border-radius: 10px;
}

.clock-container h2 {
	margin-top: 10px;
}

.colon {
	display: flex;
	font-size: 50px;
	height: 120px;
}

.hoursContainer,
.minutesContainer,
.secondsContainter {
	display: flex;
	width: 220px;
	height: 150px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
